* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 16px/1.5 Lato, sans-serif;
}

body,
input,
form,
select,
button,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  font: inherit;
}
