@import "../public/styles/header.css";
@import "../public/styles/footer.css";
@import "../public/styles/home.css";
@import "../public/styles/login.css";
@import "../public/styles/register.css";
@import "../public/styles/catalog.css";
@import "../public/styles/create.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 16px/1.5 Lato, sans-serif;
}

body,
input,
form,
select,
button,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  font: inherit;
}

body {
  background-color: rgba(229, 209, 209, 0.74);
}
