.catalog-wrapper {
  display: flex;
  width: 85vw;
  margin: 0 auto;
  padding: 0 2.5vw;
  gap: 2.5vw;
  flex-wrap: wrap;
  text-align: center;
}

.catalog-title {
  margin-bottom: 0.5em;
}

.catalog-card-wrapper {
  flex: 1 1 25vw;
  text-wrap: nowrap;
}
.catalog-card-img {
  width: 25vw;
  height: 20vw;
  /* margin-bottom: 2vh; */
}

.catalog-workout-info {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.catalog-workout-info span {
  padding: 0.1em;
}
/* .catalog-workout-info span:nth-child(2) {
  margin-bottom: -4vh;
}

.catalog-workout-info span:first-child {
  margin-bottom: -4vh;
} */
