.home-title,
.home-title-sub {
  padding-top: 1em;
  font-size: 3em;
  text-align: center;
  color: #f35525;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.1px;
}

.img-container {
  height: 60vh;
  background-image: url("../home.avif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
